@{
    ViewBag.Title = "Edit Book";
}
@model Library.UI.Models.Book.AddViewModel
<style>
    .dropdown-toggle {
        display: none;
        border-bottom: solid 1px #aaa;
    }

    .bootstrap-select {
        padding: 0px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Book</h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("Edit", "Book", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id);
                    <div class="form-group form-float" style="border:none !important; padding:0px !important;">
                        <div class="help-info">Category</div>
                        @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, new { @class = "form-control", @style = "border:none !important; padding:0px;" })
                        @Html.ValidationMessageFor(m => m.CategoryId)
                    </div>

                    <div class="form-group form-float">
                        <div class="help-info">Name</div>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="help-info">Author Name</div>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AuthorName)
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="help-info">Author Surname</div>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.AuthorSurname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AuthorSurname)
                        </div>
                    </div>
                    <input type="submit" id="send" value="Edit" class="btn bg-red waves-effect" />
                    <a class="btn bg-yellow waves-effect" href="~/Book/List">
                        Cancel
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            var Issucces = '@ViewBag.Issuccess';
            if (Issucces=="True") {
                swal({
                    title: "Edited!",
                    text: "Edited successfully!!",
                    type: "success"
                    }, function() {
                        window.location.href = "@Url.Action("List","Book")";
                    });
            }
            else if (Issucces=="False") {
                swal({
                    title: "Error!",
                    text: "An error occurred!",
                    type: "error"
                    });
            }
            else {
            }
        });
    </script>
}
