@{
    ViewBag.Title = "Edit Category";
}
@model Library.UI.Models.Category.AddViewModel
<style>
    .dropdown-toggle {
        display: none;
        border-bottom: solid 1px #aaa;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Category</h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id);
                    <div class="form-group form-float">
                        <div class="help-info">Name</div>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <input type="submit" id="send" value="Edit" class="btn bg-red waves-effect" />
                    <a class="btn bg-yellow waves-effect" href="~/Category/List">
                        Cancel
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            var Issucces = '@ViewBag.Issuccess';
            if (Issucces=="True") {
                swal({
                    title: "Edited!",
                    text: "Edited successfully!!",
                    type: "success"
                    }, function() {
                        window.location.href = "@Url.Action("List", "Category")";
                    });
            }
            else if (Issucces=="False") {
                swal({
                    title: "Error!",
                    text: "An error occurred!",
                    type: "error"
                    });
            }
            else {
            }
        });
    </script>
}
